@use "govuk-frontend/dist/govuk" as *;
$govuk-font-family: -apple-system,BlinkMacSystemFont,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; // Override font as so not to use New Transport
@use "application";
@use "../base/custom-branding";

// CUSTOM BRANDING
// Use the variables below to control the style
// Make sure banner colours meet minimum colour contrast levels

$custom-banner-colour: #ffffff;
$custom-banner-border-colour: #eef1f2;
$custom-text-colour: #ffffff;
$logo-image-height: 4em;

.custom-branding {
  @if $logo-image-height != null {
    .custom-branding-image {
      max-height: $logo-image-height;
      
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        width: 100%;
      }
    }
  }
  
  .govuk-header {
    background-color: $custom-banner-colour;
    border-bottom: 10px solid #ffffff;
  }
  
  .govuk-header__logo {
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .govuk-header__homepage-link{
    &:link,
    &:visited {
      color: $custom-text-colour;
    }
  }
  
  .govuk-header__homepage-link {
    &:hover,
    &:active {
      border-bottom: none;
      margin-bottom: 0;
    }
    
    &:not(:focus) {
      background-color: transparent;
    }
  }
  
  
  .govuk-header__container {
    border-bottom: 10px solid $custom-banner-border-colour;
    margin-bottom: -10px;
    padding-top: 10px;
  }

  .pay-custom-service-name {
    color: $custom-text-colour;
  }
  
  @include govuk-media-query($from: tablet) {
    .govuk-header__content {
      width: 66%;
      vertical-align: bottom;
      margin-bottom: 7px;
    }
  }
  
  .govuk-button {
    padding: 7px 15px 6px;
    padding: .368421053em .842105263em .315789474em;
  }
}
