@use "govuk-frontend/dist/govuk" as *;
$govuk-font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; // Override font as so not to use New Transport
@use "application";
@use "../base/custom-branding";

// CUSTOM BRANDING
// Use the variables below to control the style
// Make sure banner colours meet minimum colour contrast levels

$custom-banner-colour: #007299;
$custom-banner-border-colour: black;
$custom-text-colour: #ffffff;
$logo-image-width: 192px;
// additional for devices from tables to bigger screens
$logo-image-width-from-tablet: 252px;

.custom-branding {
  @if $logo-image-width != null {
    .custom-branding-image {
      width: $logo-image-width;
      
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        width: 100%;
      }
    }
  }
  
  .govuk-header {
    background-color: $custom-banner-colour;
    border-bottom: 10px solid #ffffff;
  }
  
  .govuk-header__logo {
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .govuk-header__homepage-link {
    &:link,
    &:visited {
      color: $custom-text-colour;
    }
  }
  
  .govuk-header__homepage-link {
    &:hover,
    &:active {
      border-bottom: none;
      margin-bottom: 0;
    }
    
    &:not(:focus) {
      background-color: transparent;
    }
  }
  
  .pay-custom-service-name {
    color: $custom-text-colour;
  }
  
  .govuk-header__container {
    border-bottom: 10px solid $custom-banner-border-colour;
    margin-bottom: -10px;
    padding-top: 10px;
  }

  @include govuk-media-query($until: 48.0625em) {
    .pay-custom-header-logo {
      margin-right: 0px;
      width: 35%;
    }

    .pay-custom-header-content {
      padding-right: 0px;
      width: 65%;
    }
  }
  
  @include govuk-media-query($from: tablet) {
    .govuk-header__content {
      vertical-align: bottom;
      margin-bottom: 7px;
    }
    
    .govuk-header__logo {
      float: right;
    }
    .custom-branding-image {
      width: $logo-image-width-from-tablet;
    }
  }

  @include govuk-media-query($from: 48.0625em) {
    .govuk-header__content {
      width: 66%;
    }

    .govuk-header__logo {
      margin-right: -.75rem;
    }
  }
  
  .govuk-button {
    padding: 7px 15px 6px;
    padding: .368421053em .842105263em .315789474em;
  }
}
